<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
      <% include ../helpers/navbar %>
    <h1>Hello all the world!</h1>
  </div>

  <p id="demo">
    This is me testing out some pre-made web app
  </p>

  <input class="search" type="text" placeholder="Enter city name">
  <button type="button" onClick="searchWeather()">Search</button>

  <br><br>

  <div class="error"></div>

  <div class="city"></div>

  <div class="temp"></div>

  <br>
  <button class="btn btn-default" type="button" onclick="myFunction()">
    Want to see a dog?
  </button>

  <div id="doge-image"/>

</body>

</html>